li::before {
    margin-left: auto;
}
  
li::after, li::before {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(20, 20, 20);
    display: block;
    transition: 0.5s;

}
  
li:hover::after, li:hover::before {
    width: 100%;
}

a:hover {
    color: rgb(206, 137, 73);
    transition: 0.2s ease-in;
}

button:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

