@media screen and (min-width: 500px) {

    li::before {
        margin-left: auto;
    }
    
    li::after, li::before {
        content: '';
        width: 0%;
        height: 2px;
        background: rgb(20, 20, 20);
        display: block;
        transition: 0.5s;
    }
    
    li:hover::after, li:hover::before {
        width: 100%;
    }
}
a:hover {
    color: rgb(206, 137, 73);
    transition: 0.2s ease-in;
}

.p-with-btn button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.article-aside h1:hover {
    color: rgb(211, 129, 53);
}