* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    padding: 15px;
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.logo img {
    width: 50px;
}

header ul {
    list-style: none;
    display: flex;
}

ul li {
    font-weight: 300;
    margin-left: 20px;
    font-family: inter, sans-serif;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
#bars {
    font-size: 30px;
    cursor: pointer;
}

.hero {
 width: 100%;
}

.img-hero {
    background-image: url(./assets/images/image-web-3-mobile.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.title-section { 
    position: relative;
    margin: 30px 0px 0px 0px;
}

.title-section h1 {
    font-family: inter, sans-serif;
    color: rgb(26, 25, 25);
    font-size: 2em;
    font-weight: bold;
}

.p-with-btn p {
    font-family: Inter, sans-serif;
    line-height: 20px;
    font-weight: 400;
    padding: 15px 0px;
    font-size: 0.88em;
}

.p-with-btn button {
    font-family: Inter;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 5px;
    color:  white;
    background-color: rgb(199, 75, 71);
    width: 140px;
    height: 40px;
    border: none;
    z-index: inherit;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;
}


aside {
    width: 100%;
    margin: 60px 0px;
}

.content-aside {
    background-color: rgb(2, 2, 44);
    color: white;
    padding: 15px 15px 0px 15px;
    font-family: inter, sans-serif;
}

.article-aside {
    padding: 25px 0px;
    border-bottom: 1px solid rgb(167, 163, 163);
    cursor: pointer;
}

.article-aside:last-child {
    border: none;
}

.content-aside h1 {
    color: rgb(206, 137, 73);
    font-weight: 700;
    font-size: 2em;
}


.article-aside h1{
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
    transition: ease-in 200ms;
}

.article-aside p {
    width: 99%;
    font-weight: 200;
    font-size: 0.7em;
}

.steps {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.content-step {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 110px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.4s ease-out;
}

.content-step img {
    width: 70px;
    height: 100%;
}

.info-step {
    height: 100%;
    width: 100%;
    font-family: inter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-step h1 {
    font-size: 1.5em;
    color: rgb(165, 165, 165);
    margin-bottom: 5%;
}

.info-step h2 {
    font-size: 3vh;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-bottom: 5%;
}

.info-step p {
    font-size: 2.5vh;
    font-weight: 600;
    color: rgb(46, 46, 46);
}

.img-step {
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

#retro-pc {
    background-image: url(./assets/images/image-retro-pcs.jpg);
}
#laptops{
    background-image: url(./assets/images/image-top-laptops.jpg);
}
#gaming {
    background-image: url(./assets/images/image-gaming-growth.jpg);
}

@media screen and (max-width: 500px) {

    nav {
        z-index: 1;
        position: fixed;
        top: 0;
        right: -250px;
        background-color: rgb(2, 2, 44);
        width: 250px;
        height: 100vh;
        padding: 40px;
        transition: all 400ms;
    }
    header ul {

        flex-direction: column;
    }
    header nav ul li {
        margin-top: 30px;
        margin-left: 0px;
    }
    nav ul li a{
        color: #bebebe
    }
    #blur-content {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        z-index: 1;
    }
}

@media screen and (min-width: 500px) {
    .title-section {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 40px;
    }
    #without-aside {
        width: 100%;
    }
    .title-section h1 {
        width: 50%;
        font-size: 2.4em;
    }
    .p-with-btn {
        width: 50%;
    }
    .i i {
        display: none;
    }
}

@media screen and (min-width: 770px) {
    .steps {
        flex-direction: row;
    }
    .img-hero {
        background-image: url(./assets/images/image-web-3-desktop.jpg);
    }
}

@media screen and (min-width: 1018px){
    nav ul li {
        font-size: 1.2em;
    }
    #main-sec {
        display: flex;
        gap: 40px;
        margin-bottom: 60px;
    }
    aside {
        width: 500px;
        margin: 0px;
    }
    .content-aside {
        height: 100%;
    }
    .title-section{
        height: 200px;
    }
    .title-section h1 {
        font-size: 3.5em;
    }
    .p-with-btn{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .p-with-btn button {
        height: 60px;
        width: 180px;
        font-size: 0.9em;
    }
    .p-with-btn p{
        font-size: 1.1em;
        line-height: 25px
    }
    .content-step:hover {
        border-color: #008bf8;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
       
    .content-step:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
    }
    .info-step {
        font-size: 1.3em;
        padding: 10px 0px;
    }
    .content-step {
        height: 180px;
    }
    .img-step {
        width: 200px;
        height: auto;
    } 
    .content-aside h1{
        font-size: 3em;
    }
    .article-aside h1{
        font-size: 1.5em;
    }
    .article-aside p {
        font-size: 1em;
    }
}